VITE_API_BASE_URL=https://tdsuperapp-admin-api-test.azurewebsites.net/api/v1/
VITE_STOREFRONT_API_BASE_URL=https://storefrontbackend.novotechafrica.com/api/v1/
VITE_AUTH_STORAGE_KEY=SuperAppAdminReact__Authentication
VITE_STOREFRONT_OWNER_STORAGE_KEY=StorefrontOwnerReact__Authentication
VITE_STOREFRONT_ADMIN_STORAGE_KEY=StorefrontAdminReact__Authentication
